@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-one: #FF589E;
    --color-two: #8261EE;
    --color-text: #777777;

    --bg-one: #F2F2FE;
    --font: "Raleway", sans-serif;
}

body {
    font-family: var(--font);
    line-height: 1.6;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 0;
    margin: 0;
}
a:hover {
    text-decoration: none;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 38px;
    background: var(--color-one);
    padding: 15px;
    font-size: 13px;
    color: #FFF;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
}

.inner-content {
    text-align: center;
    color: #FFF;
    max-width: 550px;
    margin: 0 auto;
}

.inner-content .inner-title {
    margin-bottom: 25px;
}

.inner-content .inner-desc {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.5px;
    margin-bottom: 60px;
    letter-spacing: 0.5px;
}